@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  background-color: #8000ff;
}

.title {
  font-size: 50px;
  color: white;
  letter-spacing: 2px;
}

.start {
  border-radius: 4px;
  background-color: #ff9900;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.user-phrase {
    width: 400px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

ul {
  list-style-type: none;
}
